 .container{ 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "header header header"
    "content content link"
    "adds footer footer" ;
}
.header{
    background-color: rgb(90, 161, 203);
    font-size: 40%;
    grid-area: header;
}
.content{
    background-color: blue;
    grid-area: content;
    font-size: 5px;
}
.link{
    grid-area: link;
    background-color: black;
}
.adds{
    grid-area: adds;
    background-color: brown;
}
.footer{
    grid-area: footer;
    background-color: chartreuse;
} 
/* .container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
     "header header header"
     "content content link"
     "link    adds     footer" ;
}
.header{
    background-color: grey;
    grid-area: header;
}
.content{
    background-color: bisque;
    grid-area: content;
}
.link{
    background-color: cornflowerblue;
    grid-area: link;
}
.adds{
    background-color: cyan;
    grid-area: adds;
}
.footer{
    background-color: dimgray;
    grid-area: footer;
} */